body {
    background-color: #EEEEEE;
}

div.wrapper {
    background-color: white;
    width: 90%;
    border: transparent;
    border-radius: 0.3em;
    margin: 3em auto;
    padding: 1.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

header,
footer {
    display: block;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding: 1.8em;
    margin-bottom: 1em;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding: 1.8em;
    margin-bottom: 1em;
}

.main {
    width: 70%;
}

.sidebar {
    width: 29%;
}

@media (max-width: 800px) {
    body {
        padding: 2em 0 2em 0;
    }

    div.wrapper {
        margin: 1em auto;
        width: 95%;
    }

    main {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }
    
    .sidebar {
        width: 100%;
    }

    footer {
        margin-bottom: 0;
    }
    
}