body {
    padding: 2em;
    background-color: #eeeeee;
}

div.site-content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    border-radius: 0.2em;
    overflow: hidden;
}

div.site-content h1 {
    color: #009900;
    padding: 1em;
    font-weight: 750;
}

div.menu {
    background-color: #444444;
    display: flex;
}

div.menu-item {
    padding: 1.5em;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2em 3em;
    display: flex;
    gap: 2em;
}

main h2 {
    margin-bottom: 0.5em;
    color: #444444;
}

main p {
    margin-bottom: 1em;
}

footer {
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: #444444;
    color: white;
}

@media (max-width: 600px) {
    div.menu {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }
    
    div.menu-item {
        padding: 1em;
        border-bottom: 1px solid #626262;
    }

    main {
        flex-direction: column;
    }
}