@media (max-width: 600px) {
    header nav {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding-top: 1.3em;
    }

    header {
        background-size: cover;
        padding: 0;
        width: 100%;
    }

    .header-title {
        padding: 2em 0;
    }

    .header-title h1 {
        font-size: 36px;
    }

    .header-title p {
        font-size: 17px;
        font-weight: bold;
        width: 85%;
        margin: 0 auto;
    }

    .choose-us ul {
        flex-direction: column;
        max-width: 60%;
        margin: 0 auto;
        gap: 1em;
    }

    .about-us {
        width: 75%;
        padding-bottom: 2em;
    }

    .team-description ul {
        width: 100%;
        margin: 0 auto;
        gap: 3em;
        font-size: 12px;
    }

    .team-description ul li img {
        width: 100%;
        height: auto;
    }

    .team-description-wrapper {
        padding-bottom: 1.2em;
    }
}