body {
    background-color: lightgray;
}

span {
    display: block;
}

span.card {
    border-radius: 2%;
    border: transparent;
    overflow: hidden;
    max-width: 500px;
    margin: 2em auto;
}

a {
    border-radius: 2%;
    border: transparent;
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: block;
    width: 500px;
    margin: 2em auto;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

.description {
    background-color: white;
    padding: 1em;
    min-height: 375px;
}

span.description span {
    padding: 1em;
}

h3 {
    font-size: 22px;
    padding-bottom: 1em;
}

span.source p:first-child {
    font-weight: bold;
}

span.source p:last-child {
    display: block;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}