div {
    padding: 1.5em 2.5em 2.5em 2.5em; 
    border: dashed 1px black;
}

div.margin {
    min-width: 575px;
    min-height: 250px;
    background-color: #FF966F;
}

div.border {
    background-color: #FFE8C6;
}

div.padding {
    background-color: #85EB85;
}

div.content {
    background-color: #A3D2E2;
    padding: 1em;
}

div.content p {
    text-align: center;
}

body {
    margin: 3em 20em;
}