nav a {
    text-decoration: none;
    color: navy;
    font-weight: bold;
}

div.description > section {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 10px;
}

header + h2 span {
 color: brown;
}

form {
    background-color: lightgray;
}

