body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.white-wrapper {
    width: 95%;
    background-color: white;
    border-radius: 5px;
    margin: 3em auto;
    padding: 2px;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
}

div.calendar {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

div.workweek-and-reminders {
    display: flex;
    border-bottom: 1px solid gray;
}

div.calendar>div:nth-child(2) {
    border-bottom: 0;
}

div.week-and-days {
    width: 85%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
}

div.week {
    padding: 2em;
    text-align: center;
    border-bottom: 1px solid gray;
}

div.days {
    display: flex;
}

div.reminders {
    width: 15%;
    padding: 2em;
    display: inline;
    text-align: center;
}

div.day {
    padding: 2em;
    flex: 2 1 auto;
    text-align: center;
}

div.days div:not(:first-child) {
    border-left: 1px solid gray;
}
