body {
    background-color: #eee;
    font-size: 17px;
}

div.content {
    margin: 2em auto;
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid #D5D5D5;
}

table {
    width: 100%;
}

table h1 {
    padding: 0.6em;
    text-align: left;
}

table, tr {
    border-collapse: collapse;
    text-align: left;
}

table tr:not(:last-child), table tr:nth-child(1), caption {
    border-bottom: 1px solid #d5d5d5;
}

table.first th:nth-child(odd), table.first td:nth-child(odd) {
    width: 25%;
    padding: 1em;
}

table.second th, table.second td {
    width: 33%;
    padding: 1em;
}

th {
    background-color: #eee;
}